<div class="image-card">
    <div class="image-wrapper">
        <img src="blah" alt="Blah">
    </div>
    <div class="info-wrapper">
        <h3 class="card-title">
            A blue finned bird
        </h3>
        <div class="card-info">
            This bird rarely shows it's face. It is only found in certain areas of the Yosemite park.
        </div>
    </div>
</div>
