<footer class="row">
    <div class="footer-body">

        <div class="flex"><span></span></div>

        <% const footerItems = [
            {
                title: 'Products',
                children: [
                    {
                        title: 'Stellium',
                        href: 'products/stellium'
                    },
                    {
                        title: 'FoodCart',
                        href: 'products/foodcart'
                    },
                    {
                        title: 'BookKeeper',
                        href: 'products/bookkeeper'
                    },
                    {
                        title: 'Swish',
                        href: 'products/swish'
                    }
                ]
            },
            {
                title: 'Developers',
                children: [
                    {
                        title: 'Documentation',
                        href: 'docs'
                    },
                    {
                        title: 'API reference',
                        href: 'api-reference'
                    },
                    {
                        title: 'API Status',
                        href: 'api-status'
                    }
                ]
            }
        ] %>

        <% for (let i = 0; i < footerItems.length; i++) { %>
        <% const footerGroup = footerItems[i] %>
        <div class="footer-group">
            <h4 class="footer-group-title"><%= footerGroup.title %></h4>
            <ul class="footer-group-links">
                <% for (let j = 0; j < footerGroup.children.length; j++) { %>
                <% const footerChild = footerGroup.children[j] %>
                <li>
                    <a href="<%= footerChild.href %>"><%= footerChild.title %></a>
                </li>
                <% } %>
            </ul>
        </div>
        <% } %>

    </div>

    <div class="footer-bottom">
        <h5 class="footer-logo">
            Stellium 🚧
        </h5>
    </div>
</footer>
