<footer class="row">
    <div class="footer-body">

        <div class="flex"><span></span></div>

        <% const footerItems = [
            {
                title: 'Products',
                children: [
                    {
                        title: 'Hotels',
                        href: 'product#hotels'
                    },
                    {
                        title: 'Restaurants',
                        href: 'product#restaurant'
                    },
                    {
                        title: 'E-Commerce',
                        href: 'product#ecommerce'
                    }
                ]
            },
            {
                title: 'Developers',
                children: [
                    {
                        title: 'Documentation',
                        href: 'documentation'
                    },
                    {
                        title: 'API Reference',
                        href: 'api-reference'
                    },
                    {
                        title: 'API Status',
                        href: 'api-status'
                    },
                    {
                        title: 'Open Source',
                        href: 'open-source'
                    }
                ]
            },
            {
                title: 'Company',
                children: [
                    {
                        title: 'About',
                        href: 'about'
                    },
                    {
                        title: 'Customers',
                        href: 'customers'
                    },
                    {
                        title: 'Jobs',
                        href: 'jobs'
                    },
                    {
                        title: 'Blog',
                        href: 'blog'
                    },
                    {
                        title: 'Press',
                        href: 'press'
                    }
                ]
            },
            {
                title: 'Resources',
                children: [
                    {
                        title: 'Support',
                        href: 'support'
                    },
                    {
                        title: 'Contact',
                        href: 'contact'
                    },
                    {
                        title: 'Privacy & Terms',
                        href: 'privacy-terms'
                    }
                ]
            }
        ] %>

        <% for (let i = 0; i < footerItems.length; i++) { %>
        <% const footerGroup = footerItems[i] %>
        <div class="footer-group">
            <h4 class="footer-group-title"><%= footerGroup.title %></h4>
            <ul class="footer-group-links">
                <% for (let j = 0; j < footerGroup.children.length; j++) { %>
                <% const footerChild = footerGroup.children[j] %>
                <li>
                    <a href="<%= footerChild.href %>"><%= footerChild.title %></a>
                </li>
                <% } %>
            </ul>
        </div>
        <% } %>

    </div>

    <div class="footer-bottom">
        <h5 class="footer-logo">
            Stellium 🚧
        </h5>
    </div>
</footer>
