<div class="row menu-wrapper" id="main-navigation">
    <div class="logo-wrapper">
        <h1>Stellium</h1>
    </div>

    <nav class="main-nav">
        <a class="nav-item" href="/features">
            <span>Features</span>
        </a>
        <a class="nav-item" href="/pricing">
            <span>Pricing</span>
        </a>
        <a class="nav-item" href="/docs">
            <span>Docs</span>
        </a>
        <a class="nav-item demo" href="/demo-request">
            <span>Request Demo</span>
        </a>
    </nav>

    <!--
    <div class="search-wrapper">
        <input type="text" placeholder="Search for a domain">
    </div>
    -->
</div>
