<div class="row menu-wrapper">
    <div class="logo-wrapper">
        <h1>Stellium</h1>
    </div>

    <div class="search-wrapper">
        <input type="text" placeholder="Search for a domain">
    </div>
</div>
