.es-button {
    text-decoration: none;
    margin: .25rem;
    padding: .75rem 1rem;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #2196F3;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

    &.blue {
        color: white;
        font-weight: 400;
        background-color: #2196F3;
    }

    &.green {
        color: white;
        font-weight: 400;
        background-color: #3ecf8e;
    }
}
