<div class="features-wrapper row">

    <% for (let i = 0; i < locals.section.data.length; i++) { %>
    <% const feature = locals.section.data[i] %>
    <div class="feature-item">
        <p class="feature-subtitle"><%= feature.title %></p>
        <h4 class="feature-title"><%= feature.subtitle %></h4>
        <p class="feature-description"><%= feature.text %></p>
    </div>
    <% } %>

</div>
