<div class="features-wrapper row">

    <div class="feature-item">
        <p class="feature-subtitle">SSL</p>
        <h4 class="feature-title">SSL Certificate Included</h4>
        <p class="feature-description">All Stellium websites come with free 2048-bit SSL certificates, which we create and renew for you automatically. SSL secures visitors’ connections to your site and improves your ranking in Google search results.</p>
    </div>

    <div class="feature-item">
        <p class="feature-subtitle">SSL</p>
        <h4 class="feature-title">SSL Certificate Included</h4>
        <p class="feature-description">All Stellium websites come with free 2048-bit SSL certificates, which we create and renew for you automatically. SSL secures visitors’ connections to your site and improves your ranking in Google search results.</p>
    </div>

    <div class="feature-item">
        <p class="feature-subtitle">SSL</p>
        <h4 class="feature-title">SSL Certificate Included</h4>
        <p class="feature-description">All Stellium websites come with free 2048-bit SSL certificates, which we create and renew for you automatically. SSL secures visitors’ connections to your site and improves your ranking in Google search results.</p>
    </div>

    <div class="feature-item">
        <p class="feature-subtitle">SSL</p>
        <h4 class="feature-title">SSL Certificate Included</h4>
        <p class="feature-description">All Stellium websites come with free 2048-bit SSL certificates, which we create and renew for you automatically. SSL secures visitors’ connections to your site and improves your ranking in Google search results.</p>
    </div>
</div>
