<!--
<div class="stretched-bg">
    <div class="stripe stripe-1"><span></span></div>
    <div class="stripe stripe-2"><span></span></div>
    <div class="stripe stripe-3"><span></span></div>
    <div class="stripe stripe-4"><span></span></div>
    <div class="stripe stripe-5"><span></span></div>
</div>
-->

<div class="stripes">
    <div class="stripe stripe-1"><span></span></div>
    <div class="stripe stripe-2"><span></span></div>
    <div class="stripe stripe-3"><span></span></div>
    <div class="stripe stripe-4"><span></span></div>
    <div class="stripe stripe-5"><span></span></div>
    <div class="stripe stripe-6"><span></span></div>
    <div class="stripe stripe-7"><span></span></div>
    <div class="stripe stripe-8"><span></span></div>
    <div class="stripe stripe-9"><span></span></div>
    <div class="stripe stripe-10"><span></span></div>
    <div class="stripe stripe-11"><span></span></div>
</div>

<div class="row-small wrapper">

    <div class="info-wrapper">
        <h1>Connect<br/>on the go</h1>
        <p>Download our mobile app for Android and iOS and manage your business from anywhere. Connect with your
            customers with our built-in live chat feature.</p>

        <div class="app-store-badges">
            <a id="android-badge" href="https://play.google.com/store/apps/details?id=com.stellium.android&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img alt="Get it on Google Play"
                     src="theme-static/interstellar/images/play_store.png"/>
            </a>
            <a id="ios-badge" href="https://itunes.apple.com/id/app/stellium">
                <img alt="Download on the App Store"
                     src="theme-static/interstellar/images/app_store.svg"/>
            </a>
        </div>
    </div>

    <div class="flex"><span></span></div>

    <!--
    <div class="mobile-device phone-big">
        <img src="theme-static/interstellar/images/instacart.svg"
             alt="Connect with InstaCart">
    </div>
    -->

    <div class="mobile-device phone-small">
        <img src="theme-static/interstellar/images/handy.svg"
             alt="Connect with Lyft">
    </div>
</div>
