:host {
    height: 38px;
    padding: 0 2rem;
    font-size: .86rem;
    line-height: 38px;
    margin-right: .5rem;
    border-radius: 19px;
    letter-spacing: .5px;
    display: inline-block;
    border: 1px solid white;
    transition: all 330ms ease;

    &.blue {
        color: white;
        font-weight: 400;
        border-color: #2196F3;
        background-color: #2196F3;
    }

    &.green {
        color: #3ecf8e;
        font-weight: 400;
        border-color: #3ecf8e;
    }

    &:hover {
        transform: translate3d(0, -1px, 0);
    }
}
