<div class="row">
    <h2>Features</h2>

    <div class="features-wrapper">

        <div class="feature-item-wrapper">
            <div class="feature-item">
                <h3 class="feature-title">
                    High Modularity
                </h3>
                <p class="feature-info">
                    Every section on this page is an encapsulated module.
                </p>
            </div>
        </div>

        <div class="feature-item-wrapper">
            <div class="feature-item">
                <h3 class="feature-title">
                    High Performance
                </h3>
                <p class="feature-info">
                    A sophisticated caching mechanism makes sure your pages are ready for every request. Our rendering
                    engine caches every resource required by your website so it gets re-used on every subsequent
                    request.
                </p>
            </div>
        </div>

        <div class="feature-item-wrapper">
            <div class="feature-item">
                <h3 class="feature-title">
                    High Availability
                </h3>
                <p class="feature-info">
                    Multiple data locations provides the fastest and best experience to your clients, no matter where
                    they
                    are on the planet.
                </p>
            </div>
        </div>
    </div>
</div>
