$break-small: 320px;
$break-large: 1024px;

@mixin responsive($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

:host {

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 3rem;
    color: rgba(10, 20, 30, .86);
  }

  .features-wrapper {
    display: flex;

    @include responsive(handhelds) {
      flex-direction: column;
    }

    .feature-item-wrapper {
      width: 33.33%;
      padding: 1rem;

      @include responsive(handhelds) {
        width: 100%;
        padding: .5rem 1rem;
      }

      .feature-item {
        padding: 2rem;
        background-color: white;
        border: 1px solid rgba(10, 20, 30, .05);
        box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);

        .feature-title {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        .feature-info {
          font-weight: 300;
          font-size: .86rem;
        }
      }
    }
  }
}
