<div class="row">
    <h2>Features</h2>

    <div class="features-wrapper">

        <div class="feature-item-wrapper">
            <div class="feature-item">
                <h3 class="feature-title">
                    High Modularity
                </h3>
                <p class="feature-info">
                    Every section on this page is an encapsulated module. Our sophisticated rendering engine
                    ensures maximum productivity for front-end developers.
                </p>
            </div>
        </div>

        <div class="feature-item-wrapper">
            <div class="feature-item">
                <h3 class="feature-title">
                    High Performance
                </h3>
                <p class="feature-info">
                    A state-of-the-art caching mechanism ensures that your website is ready for every request.
                    Serve thousands of visitors without downtime, guaranteed.
                </p>
            </div>
        </div>

        <div class="feature-item-wrapper">
            <div class="feature-item">
                <h3 class="feature-title">
                    High Availability
                </h3>
                <p class="feature-info">
                    Multiple data locations provides the fastest and best experience for your clients at warp speed, no
                    matter where they are on the planet.
                </p>
            </div>
        </div>
    </div>
</div>
