<div class="content-wrapper row">

    <div class="flex">
        <p><strong>Ready to get started?</strong> Create an account now and start building.</p>
    </div>

    <%- ComponentRenderer('button', {
        'class': 'blue',
        data: {
            text: 'Get Started',
            link: '/get-started'
        }
    }) %>

    <%- ComponentRenderer('button', {
        'class': 'white',
        data: {
            text: 'Contact Sales'
        }
    }) %>
</div>
