:host {
    margin-top: 4rem;

    p {
        font-size: .86rem;

        strong {
            font-weight: 600;
        }
    }

    .content-wrapper {
        display: flex;
        align-items: center;

        a {
            &:last-child {
                margin-left: .5rem;
            }
        }
    }
}
