<div class="content-wrapper row">

    <div class="flex">
        <h4>Ready to get started?</h4>
        <p class="mt-16">Don't have a domain name? Don't worry, get started now and pick one later.</p>
    </div>

    <%- ComponentRenderer('button', {
        'class': 'blue',
        data: {
            text: 'Create Account'
        }
    }) %>
</div>
