:host {
    padding: 3rem 0;

    h4 {
        color: #2196f3;
        font-size: 2rem;
        font-weight: 300;
    }

    .content-wrapper {
        display: flex;
        align-items: center;
    }
}
