<% for (let i = 0; i < locals.section.data.length; i++) { %>
<% const slideItem = locals.section.data[i] %>
<div style="width: 100vw; height: 100vh; max-height: 480px;">
    <h1 class="title"><%= slideItem.title['en'] %></h1>
    <p>I'm a simple man, I see boobs, I click.</p>
</div>
<% } %>
<h1>Image Slider</h1>
