<div>
    <h2>
        The swiftest Content Management System for the modern web
    </h2>

    <p>NAME is the best software platform for running digital hospitality and restaurant businesses.
        We handle quadrillions of dollars of transactions every year.</p>

    <%- ComponentRenderer('button', {
        'class': 'green',
        data: {
            text: 'Create Account'
        }
    }) %>

    <%- ComponentRenderer('button', {
        data: {
            text: 'Contact Sales'
        }
    }) %>

    <%- ComponentRenderer('button') %>
</div>
