<div class="stripes">
    <div class="stripe stripe-1"><span></span></div>
    <div class="stripe stripe-2 mt-active"><span></span></div>
    <div class="stripe stripe-3"><span></span></div>
    <div class="stripe stripe-4 mt-active"><span></span></div>
    <div class="stripe stripe-5 mt-active"><span></span></div>
    <div class="stripe stripe-6"><span></span></div>
    <div class="stripe stripe-7 mt-active"><span></span></div>
    <div class="stripe stripe-8"><span></span></div>
    <div class="stripe stripe-9 mt-active"><span></span></div>
    <div class="stripe stripe-10"><span></span></div>
    <div class="stripe stripe-11"><span></span></div>
</div>

<div class="row-small header-content">

    <div class="header-wrapper">

        <h2>A cms for<br/>Designers &amp; Developers</h2>

        <p class="hint">Free trial. No credit card required.</p>

        <div class="action">
            <%- ComponentRenderer('button', {
                'class': 'blue',
                data: {
                    text: 'Get Started',
                    link: '/get-started'
                }
            }) %>
        </div>
    </div>

    <div class="mobile-device phone-small">
        <img src="theme-static/interstellar/images/handy.svg"
             alt="Connect with Lyft">
    </div>

    <!--
    <div class="stellium-shot">
        <img src="https://fleava.com/media/generic/technology2.png" alt="stellium desktop">
    </div>
    -->
</div>
