<div class="skewed-background">
    <!--
    <div class="skewed-block bottom-left"><span></span></div>
    <div class="skewed-block top-right"><span></span></div>
    -->
    <span></span>
</div>
<div class="header-wrapper">

    <h2>
        Get up and running in seconds
    </h2>

    <p>The most advanced CMS for Developers and Digital Agencies.</p>

    <div class="action">
        <%- ComponentRenderer('button', {
            'class': 'blue',
            data: {
                text: 'Get Started'
            }
        }) %>

        <p class="hint">Free trial. No credit card required.</p>
    </div>
</div>

<div class="macbook-wrapper">
    <img src="http://www.pngmart.com/files/4/Macbook-PNG-Photos.png"
         alt="Stellium Preview">
</div>
