:host {

    h2 {
        font-size: 1.6rem;
        text-align: center;
        color: rgba(10, 20, 30, .86);
    }

    .feature-item {

        .feature-title {
        }

        .feature-info {
        }
    }
}
