<div class="skewed-background">
    <!--
    <div class="skewed-block bottom-left"><span></span></div>
    <div class="skewed-block top-right"><span></span></div>
    -->
    <span></span>
</div>
<div class="header-wrapper">

    <h2>
        Get up and running in seconds
    </h2>

    <p>The most advanced CMS for Developers and Digital Agencies. We take care of the complicated stuff so you don't have to.</p>

    <%- ComponentRenderer('button', {
        'class': 'green',
        data: {
            text: 'Create Account'
        }
    }) %>

    <%- ComponentRenderer('button', {
        data: {
            text: 'Features'
        }
    }) %>
</div>
